---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/onest";
import Badge from "../components/Badge.astro";

import PortafolioIcon from "../components/iconos/PortafolioIcon.astro";
import Experiencia from "../components/Experiencia.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyectos from "../components/Proyectos.astro";
import ProyectosIcon from "../components/iconos/ProyectosIcon.astro";
import Contacto from "../components/Contacto.astro";
import ContactoIcon from "../components/iconos/ContactoIcon.astro";
import LinkedinIcon from "../components/iconos/LinkedinIcon.astro"
import GitHubIcon from "../components/iconos/GitHubIcon.astro"
import CvIcon from "../components/iconos/CvIcon.astro";
---

<Layout title="LuisO Portfolio.">
  <SectionContainer id="top" class="mx-auto max-w-3xl px-5 mb-5 flex flex-col gap-10">
    <main>
      <div class="flex flex-col sm:flex-row items-center gap-5 pt-28">
        <div
          class="relative w-44 h-44 bg-indigo-100 border-8 border-white shadow-lg rounded-full overflow-hidden"
        >
          <span
            class="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"
          >
            <img
              class="rounded-full drop-shadow-2xl"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
              src="https://th.bing.com/th/id/OIP.c1RSpH5Yy6spVUYQs4Cf5QHaHa?rs=1&pid=ImgDetMain"
              alt="photo"
            />
          </span>
        </div>
        <div class="flex flex-col items-center sm:items-start gap-3">
          <div class="flex flex-col items-left gap-2">
            <h1
              class="text-2xl sm:text-4xl text-center sm:text-left font-bold text-slate-100"
            >
              Ey, soy Luis<span class="text-indigo-400">O.</span>
            </h1>
            <h2 class="text-slate-300 text-lg sm:text-lg max-w-xl rounded-2xl">
              <span class="text-indigo-200">Desarrollador y Diseñador creativo.</span> Mi enfoque se centra en combinar la creatividad con la tecnología para ofrecer soluciones innovadoras y crear aplicaciones únicas.
            </h2>
          </div>

          <div class="flex gap-3">
            <a href="https://www.linkedin.com/in/luis-omar-avalos-ortiz-239692265/">
              <Badge>
                <LinkedinIcon class="size-4"/>
              </Badge>
            </a>
            <a href="https://github.com/LuisOmar7">
              <Badge>
                <GitHubIcon class="size-4"/>
              </Badge>
            </a>
            <!--
              <CvIcon class="size-4"/>
             -->
          </div>

        </div>
      </div>
    </main>
  </SectionContainer>

  <SectionContainer>
	<div id="experiencia">
		<div class="font-bold text-2xl text-slate-100 mb-6 flex items-center gap-3">
		  <h2>Experiencia laboral</h2>
		  <PortafolioIcon class="text-3xl" />
		</div>
		<div class="flex flex-col gap-10">
		  <Experiencia />
		</div>
	  </div>
  </SectionContainer>

  <SectionContainer>
	<div id="proyectos">
		<div class="font-bold text-2xl text-slate-100 mb-6 flex items-center gap-3">
		  <h2>Proyectos</h2>
		  <ProyectosIcon class="text-3xl" />
		</div>
		<div class="flex flex-col gap-10">
		  <Proyectos />
		</div>
	  </div>
  </SectionContainer>

  <SectionContainer>
    <div id="contacto">
      <div class="font-bold text-2xl text-slate-100 mb-6 flex items-center gap-3">
        <h2>Contacto</h2>
        <ContactoIcon class="text-3xl" />
      </div>
      <div class="flex flex-col gap-10">
        <Contacto/>
      </div>
      </div>
  </SectionContainer>
  
</Layout>
