<header class="flex justify-center items-center py-5 w-full mx-auto max-w-3xl sticky top-0 z-10 -full bottom-0 px-5 bg-gray-800 bg-opacity-5 backdrop-blur-lg">
    <nav class="text-indigo-50 flex flex-row gap-x-5 opacity-80 md:gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>